body {
	margin: 0px;
}

.header {
	background-color: #AA272A;
}

.nav {
	overflow: hidden;
	background-color: #333;
}

.nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav a:hover {
	background-color: #ddd;
	color: black;
}

.main {
	padding: 20px;
	background-color: #AA272A;
}

.main h2 {
	color: white;
}

.main p {
	color: white;
}

.footer {
	padding-left: 20px;
	background-color: #ddd;
}